h1 {
  color: aquamarine;
}
html {
  font-family: fantasy;
  font-size: 60px;
  background-color: darkgrey;
  text-align: center;
}
a {
  text-decoration: none;
}
.toffl {
  color: gold;
}
.qmfkdns {
  color: chocolate;
}
.zhsl {
  color: antiquewhite;
}
.wp {
  color: yellow;
}
.e {
  color: violet;
}
.a {
  color: ghostwhite;
}
